ion-content {
    --background: #ffff00 url('../../assets/fundo2.jpg') no-repeat center center / cover !important;
}
ion-footer{
    background-color: #000000;
}
ion-input{
    color: #ffffff;
}
ion-header{
    padding: 5px;
    --ion-text-color:#f2ff00;
    background-color: #000000;
    --ion-color-base: transparent !important;
}
ion-toolbar {
    --background: transparent no-repeat fixed center;
    --color: #f3c852;
    position: absolute;
    top: 0;
  } 
ion-item{
    --background: transparent;
    padding: 30px;
    margin: 0px;
}